p span{
  font-weight: 200;
}

#idtest{
  E::first-letter;
    font-size:150%;
}

body{
  background-color: #AAAAAA;
  background-image: url(https://raw.githubusercontent.com/honma612/web1-4/master/1489805339775.jpg);
}
