@charset "UTF-8";

p span{
  font-weight: 200;
}

#idtest{
  E:first-child;
    font-size:150%;
}

.classtest{
  color: #0000FF;
}

body{
  background-color: #AAAAAA;
  background-image: url(https://raw.githubusercontent.com/honma612/web1-4/master/1489805339775.jpg);
  
  border:#FF0000 2px dotted;
  border-left:00FF00 5px solid;
}
